* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.app-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/stopwatch-lg-bg.png');
  height: 150vh;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}
.stopwatch-container {
  height: 250px;
  width: 300px;
  background-color: #ffffff;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.stopwatch-heading {
  margin-bottom: 20px;
}
.timer-image-text {
  display: flex;
}
.image {
  margin-right: 10px;
}
.timer-text {
  font-size: 20px;
  font-weight: 500;
}
.start-button {
  background-color: #1db05f;
  color: #ffffff;
  padding: 8px 8px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  margin-right: 20px;
  cursor: pointer;
}
.stop-button {
  color: #ffffff;
  padding: 8px 8px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  margin-right: 20px;
  background-color: #ef0d36;
  cursor: pointer;
}
.reset-button {
  color: #ffffff;
  padding: 8px 8px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  background-color: #eaa800;
  cursor: pointer;
}
.buttons-container {
  display: flex;
}
.time {
  font-size: 40px;
  text-align: center;
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 30px;
}
